/*
Modal Styling
 */
.modal__overlay {
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.modal__container {
    background-color: #fff7ee;
}

.modal__title {
    color: #3b3b3b;
}

.modal__close {
    color: #a7a7a7;
}

.modal__close:hover {
    color: #767676;
}

.modal__content, .modal__btn {
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    background-color: #e6e6e6;
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}

.settingsModalCloseButton {
    color: #aaa
}

.settingsModalCloseButton:hover {
    color: #6B6B6B;
}

.settingsCollapsableItem {
    background-color: rgb(224, 224, 224)
}

.tableItemLabel, .tableItemSubLabel {
    color: #424242
}

.editToggleDisabled {
    background: gray;
}

.editToggleDisabled:hover {
    background: dimgray;
}

.editToggleEnabled {
    background-color: forestgreen;
}

.editToggleEnabled:hover {
    background-color: green;
}

.settingsCollapsable:hover, .active {
    transition: font-size 200ms;
}

.editFieldButton, .settingsCollapsable {
    color: white;
}

.settingsCollapsable, .editFieldButtonGray:hover {
    background: linear-gradient(180deg, rgb(206, 205, 222) 0%, rgb(110, 117, 123) 0%, rgb(66, 73, 87) 90%);
}

.settingsCollapsable, .editFieldButtonGray {
    transition: font-size 200ms;
    background: linear-gradient(180deg, rgb(206, 205, 222) 0%, rgb(137, 145, 153) 0%, rgb(79, 88, 104) 90%);
}

.settingsModal {
    background-color: #fefefe;
    -webkit-box-shadow: 0 0 11px 4px #6B6B6B;
    box-shadow: 0 0 11px 4px #6B6B6B;
    border: 1px solid #BBB;
}


/*
Primary Colour BACKGROUND
 */
body, header, html {
    background: #fff7ee;

}


/*
Secondary Colour BACKGROUND
 */
.logwrapper, .chatmsg {
    background: #ffffff !important;
}

#localVideo, #remoteVideo, #videoContainer.remote {
    background: #555555;
}


/*
Tertiary Colour Background
 */
.interestsEnter, .interestContainer {
    background: #d2d2d2 !important;
}

/*
TEXT Colours
 */
.skipButton, .chatmsg:focus, .statuslog, .logitem, textarea, textarea:disabled,
.controlwrapper, #mobilesitenote {
    color: #454545;
}

.logwrapper, .chatmsgwrapper, #localVideo, #remoteVideo, .pasteButton, #abovevideosexybtn {
    border: 1px solid #CCC;
}


html {
    height: 100%
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

#header {
    position: relative;
    padding: 8px .5em 0 .5em;
    padding-bottom: 8px;
}


#logo img {
    display: block
}

.logwrapper {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    -moz-border-radius-topleft: .5em;
    -moz-border-radius-topright: .5em;
    -webkit-border-top-left-radius: .5em;
    -webkit-border-top-right-radius: .5em;
    position: absolute;
    left: .5em;
    right: .5em;
    bottom: 6em;
    _width: 96%;
    _height: 250px;
    margin-bottom: 2px
}

.logbox {
    position: absolute;
    top: .5em;
    bottom: 0;
    left: .5em;
    right: 0;
    overflow: auto;
    _width: 97%;
    _height: 230px
}


.skipButton.stop {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    background: transparent;
    color: #525252;
}

.skipButton.new {
    background: #409ffe !important;
    background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
    background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);
    font-weight: bold
}

.skipButton.really {
    font-weight: bold;
    color: #ff4444 !important;
}

.chatmsg {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    border: 0 none;
    padding: 0;
    margin: 0;
    height: 4.5em;
    overflow: auto;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0
}


@-webkit-keyframes msgfade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes msgfade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.youmsg, .strangermsg {
    margin: 0;
    padding: 0;
    -webkit-animation: msgfade .25s ease-out forwards;
    animation: msgfade .25s ease-out forwards
}

.youmsg .msgsource {
    color: #208ffe;
    font-weight: bold
}

.strangermsg .msgsource {
    color: #ee0a0a;
    font-weight: bold
}

.statuslog {
    font-size: .9em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    -webkit-animation: msgfade .25s ease-out forwards;
    animation: msgfade .25s ease-out forwards
}

.logtopicsettings {
    -webkit-animation: msgfade .25s ease-out forwards;
    animation: msgfade .25s ease-out forwards
}

.logitem {
    padding-bottom: .5em
}

textarea:focus {
    outline: 0
}

#localVideo, #remoteVideo {
    display: block;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

#spinner {
    display: none;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    border-right: 8px solid transparent;
    border-top: 8px solid #ccc;
    animation: spinner .6s linear infinite
}

#textbtn, #videobtn {
    display: block;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}


#videobtn.disabled {
    cursor: default
}

#videobtnstatus, #textbtnstatus {
    height: 2.5em;
    color: #AAA;
    font-size: .7em
}

.conversationgreat {
    padding: .25em .5em;
    border-radius: .5em;
    font-size: .9em;
    background: #409ffe;
    background-image: -o-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -moz-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#80c0ff), to(#017ffe));
    background-image: -webkit-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: -ms-linear-gradient(top, #80c0ff 0, #017ffe 100%);
    background-image: linear-gradient(top, #80c0ff 0, #017ffe 100%);
    color: rgb(255, 255, 255);
    font-weight: 400;
}

#mobilesitenote {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: .9em;
    padding: 0;
    height: 3.5em;
    margin-top: -5px;
    margin-bottom: -15px;
}

#mobilesitenote img {
    vertical-align: middle;
    margin-left: 10px
}

#mobilesitenote .space {
    display: none
}


.interestsEnter, .interestContainer {
    color: whitesmoke;
    cursor: text;
    position: relative;
    padding: .25em;
    margin-bottom: .408em;
    text-align: left
}

.interestTag {
    color: #383838;
    cursor: default;
    background: #6cb5ff;
    border-radius: .25em;
    padding: .25em;
    margin-right: 3px;
    white-space: nowrap
}

.removeInterest {
    cursor: pointer;
    padding-left: .25em;
    font-weight: bold;
    vertical-align: bottom
}

.interestBox {
    border: 0 none;
    padding: 0;
    width: 50%;
    outline: 0 none !important;
    -moz-outline: 0 none !important;
    font-size: 1em;
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: text;
    background: transparent
}

.interestInfo {
    color: #8c8c8e;
    cursor: text;
    position: absolute;
    padding-left: 1px;
}

.home .warning {
  background: rgba(1, 127, 254, 0.280);
  border: 2px solid rgba(1, 127, 254, 0.466);
  color: #fff;
  border-radius: 12px;
}

.home .warning .monitoredSec1 > div {
  font-size: 18px;
}

#footer {
    display: none;
}

@media (max-width: 1000px) {
    #headerappstore {
        visibility: hidden !important
    }
}
